<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About page</h1>
    <div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/add-blog">Add Blog</a></li>
            </ul>
        </nav>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda perferendis error voluptatem quasi nostrum, aut accusamus rem autem minus, mollitia natus laboriosam hic. Aspernatur maxime numquam ab perferendis deserunt necessitatibus alias quasi fugit dolorem natus dolor ex nihil nisi delectus fuga, laudantium cum excepturi dolores culpa corporis? Accusantium, placeat odio.</p>
</body>
</html>