<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="container">
        <div class="header-div">
            <header>
                <div class="title">
                    <h1>Add Blog</h1>
                </div>
                <div class="navbar-div">
                    <nav class="navbar">
                        <ul class="links-list">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/add-blog">Add Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div class="form">
            <form>
                <input type="text" name="title"  class="blog-title" placeholder="Enter Blog Title">
                <textarea name="blog-body" id="body" placeholder="Enter Blog Body" class="body" ></textarea>
                <input type="submit" name="submit" id="submit" class="submit">
            </form>
        </div>
    </div>
</body>
</html>