<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="container">
        <div class="header-div">
            <header>
                <div class="title">
                    <h1>Home page</h1>
                </div>
                <div class="navbar-div">
                    <nav class="navbar">
                        <ul class="links-list">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/add-blog">Add Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div  class="text">
            <h3>Blog 1</h3>
            <p class="blog">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum perspiciatis eius tenetur ullam ipsam adipisci esse sed quisquam nisi maxime animi omnis officiis nostrum sapiente at hic cumque neque, dolores atque provident ea nam vero. Atque magnam doloribus quis hic molestias quas quo, neque culpa dolore minus, quos, sit qui.</p>
        </div>
        <div  class="text">
            <h3>Blog 2</h3>
            <p class="blog">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum perspiciatis eius tenetur ullam ipsam adipisci esse sed quisquam nisi maxime animi omnis officiis nostrum sapiente at hic cumque neque, dolores atque provident ea nam vero. Atque magnam doloribus quis hic molestias quas quo, neque culpa dolore minus, quos, sit qui.</p>
        </div>
        <div  class="text">
            <h3>Blog 3</h3>
            <p class="blog">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum perspiciatis eius tenetur ullam ipsam adipisci esse sed quisquam nisi maxime animi omnis officiis nostrum sapiente at hic cumque neque, dolores atque provident ea nam vero. Atque magnam doloribus quis hic molestias quas quo, neque culpa dolore minus, quos, sit qui.</p>
        </div>
        <div class="text">
            <footer>
                <p>Copyright to &copy; Eltayeb Ibrahim 2023</p>
            </footer>
        </div>
    </div>
</body>
</html>