<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="container">
        <div class="header-div">
            <header>
                <div class="title">
                    <h1>Home page</h1>
                </div>
                <div class="navbar-div">
                    <nav class="navbar">
                        <ul class="links-list">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/add-blog">Add Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div  class="text">
            <h3>Home</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas necessitatibus ut atque excepturi nostrum laboriosam laborum expedita illum voluptates cum quas ducimus nihil aspernatur, porro accusantium ab asperiores suscipit numquam omnis modi fugit magni magnam officia! Quam minima illo laboriosam harum, hic adipisci consequuntur soluta repudiandae ut animi numquam commodi perferendis reprehenderit maxime, molestiae provident ipsam saepe a possimus eligendi accusamus, nemo minus. In neque, fugiat deleniti, nulla blanditiis dolorem nobis nihil eum corporis expedita repudiandae sed dicta cum accusantium veniam facere accusamus voluptatibus officiis fuga? Laborum, accusantium! Odit modi eius et cumque harum, illum ipsa sequi asperiores veritatis voluptate?</p>
        </div>
        <div class="text">
            <footer>
                <p>Copyright to &copy; Eltayeb Ibrahim</p>
            </footer>
        </div>
    </div>
</body>
</html>